extends layout

block content
    h2
        |This is the page for 
        strong= name
    p My father's name is Daniel. He is a retired VP of marketing and freelance web dev. He enjoys drawing and drinking craft beer!