extends layout

block content
    h2
        |This is the page for 
        strong= name
    p My name is Jakob and I am a 2nd year computer programming student at Georgian. I enjoy playing video games and drinking coffee!